<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="insta.ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/password.css">
    <title>DevChat</title>
</head>
<body>
    <main class="tela-recuperar-senha">
        <div class="dados">
            <p class="titulo">Problemas para entrar?</p>
            <p class="descricao">Insira o seu email, telefone ou nome de usuário e enviaremos um link para você voltar a acessar a sua conta.</p>
            <input class="campos" type="text" type="email" placeholder="Email, telefone ou nome de usuário">
            <button class="button-enviar-link"><a href="">Enviar link para login</a></button>
            <button class="button-voltar"><a href="{{ url_for('index') }}">Voltar ao login</a></button>
        </div>
    </main>
</body>
</html>